In [77]:
import redis
import pandas as pd
from io import BytesIO

# 連接到Redis
redis_host = 'localhost'
redis_port = 6379

r = redis.Redis(host=redis_host, port=redis_port, db=0)

# 從Redis取得pickled的DataFrame資料
data = r.get('strategy_df')

if data is not None:
    # 使用BytesIO將bytes轉成檔案物件，再用pd.read_pickle讀入
    buffer = BytesIO(data)
    df = pd.read_pickle(buffer)

    # 顯示DataFrame資訊
    print("DataFrame Columns:", df.columns)
    print("DataFrame Head:")
    display(df)
    print("DataFrame Info:")
    display(df.info())
else:
    print("No data found for 'strategy_df' in Redis.")

DataFrame Columns: Index(['date', 'open', 'high', 'low', 'close', 'volume', 'atr', 'direction',
       'signal'],
      dtype='object')
DataFrame Head:

,date,open,high,low,close,volume,atr,direction,signal
0,2024-12-16 09:18:00+08:00,105340.0,105360.0,105318.0,105350.0,150.972,42.000000,up,0
1,2024-12-16 09:19:00+08:00,105349.0,105411.0,105338.0,105380.0,126.361,57.500000,up,0
2,2024-12-16 09:20:00+08:00,105379.0,105448.0,105379.0,105410.0,150.152,61.333333,up,0
3,2024-12-16 09:21:00+08:00,105417.0,105477.0,105417.0,105448.0,927.993,62.750000,up,0
4,2024-12-16 09:22:00+08:00,105458.0,105459.0,105347.0,105384.0,275.300,72.600000,down,-2
5,2024-12-16 09:23:00+08:00,105384.0,105384.0,105247.0,105347.0,191.821,83.333333,down,0
6,2024-12-16 09:24:00+08:00,105354.0,105362.0,105188.0,105194.0,148.481,96.285714,down,0
7,2024-12-16 09:25:00+08:00,105195.0,105234.0,105047.0,105048.0,213.066,107.625000,down,0
8,2024-12-16 09:26:00+08:00,105048.0,105057.0,104966.0,105012.0,422.008,105.777778,down,0

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       9 non-null      datetime64[ns, Asia/Taipei]
 1   open       9 non-null      float64
 2   high       9 non-null      float64
 3   low        9 non-null      float64
 4   close      9 non-null      float64
 5   volume     9 non-null      float64
 6   atr        9 non-null      float64
 7   direction  9 non-null      object
 8   signal     9 non-null      int64
dtypes: datetime64[ns, Asia/Taipei](1), float64(6), int64(1), object(1)
memory usage: 776.0+ bytes

None