In [1]:
import json
import pandas as pd
import redis

# 連接Redis
r = redis.Redis(host='localhost', port=6379, decode_responses=True)

# 獲取最新的k線數據
latest_kline = r.get('latest_kline')

# 如果有數據的話
if latest_kline:
    kline_data = json.loads(latest_kline)
    print("最新的K線數據:")
    print(kline_data)

最新的K線數據:
{'symbol': 'SPOT_BTC_USDT', 'type': '5m', 'open': 96182.7, 'close': 96189.26, 'high': 96200.1, 'low': 96182.7, 'volume': 0.509165, 'amount': 48981.0157846, 'startTime': 1733313600000, 'endTime': 1733313900000}

In [ ]:
import asyncio
from redis import asyncio as aioredis
import pandas as pd
from io import StringIO

async def monitor_atr_and_price():
    """簡單的監控函數，只顯示當前 ATR 和價格"""
    try:
        # 連接到本地的 Redis 服務器
        redis_client = await aioredis.from_url("redis://localhost:6379")
        
        while True:
            # 從 Redis 獲取處理後的 K 線數據
            processed_klines = await redis_client.get('processed_klines')
            if processed_klines:
                # 將數據轉換為 DataFrame
                klines_str = processed_klines.decode('utf-8') if isinstance(processed_klines, bytes) else processed_klines
                df = pd.read_json(StringIO(klines_str))
                
                if not df.empty:
                    # 獲取最新的 ATR 和價格
                    current_atr = df['atr'].iloc[-1]
                    current_price = df['close'].iloc[-1]
                    
                    print(f"\nATR: {current_atr:.4f}")
                    print(f"當前價格: {current_price:.2f}")
            
            # 每 300 秒更新一次數據
            await asyncio.sleep(300)
            
    except Exception as e:
        print(f"監控出錯: {str(e)}")
    finally:
        await redis_client.close()

# 在 Jupyter Notebook 中運行這個監控函數
await monitor_atr_and_price()

ATR: 70.3632
當前價格: 96615.00

In [9]:
import json
import pandas as pd
import redis

# 連接Redis
r = redis.Redis(host='localhost', port=6379, decode_responses=True)

# 獲取處理後的DataFrame
processed_data = r.get('processed_klines')
if processed_data:
    df = pd.read_json(processed_data)
    display(df)

/var/folders/57/bvn1r6kj60v_d2chpsvv11480000gn/T/ipykernel_33524/3041318129.py:11: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(processed_data)

,timestamp,open,high,low,close,volume,atr,direction,tops,bottoms,signal
0,2024-12-05 03:42:00,96744,96827,96736,96758,87.539,91.000000,up,[],[],0
1,2024-12-05 03:43:00,96710,96721,96710,96721,4.998,69.500000,up,[],[],0
2,2024-12-05 03:44:00,96870,96871,96850,96854,12.117,96.333333,up,[],[],0
3,2024-12-05 03:45:00,96832,96833,96821,96832,2.831,80.500000,up,[],[],0
4,2024-12-05 03:46:00,96731,96731,96719,96720,2.721,87.000000,up,[],[],0
5,2024-12-05 03:47:00,96829,96831,96817,96831,33.558,91.000000,up,[],[],0
6,2024-12-05 03:48:00,96784,96785,96777,96778,1.463,85.714286,up,[],[],0
7,2024-12-05 03:49:00,96702,96719,96685,96695,14.116,86.625000,up,[],[],0
8,2024-12-05 03:50:00,96770,96771,96764,96771,1.268,85.444444,up,[],[],0
9,2024-12-05 03:51:00,96823,96832,96823,96825,6.739,83.000000,up,[],[],0
10,2024-12-05 03:52:00,96885,96891,96867,96889,59.269,81.454545,up,[],[],0
11,2024-12-05 03:53:00,96912,96927,96911,96927,0.665,77.833333,up,[],[],0
12,2024-12-05 03:54:00,96944,96957,96944,96952,6.953,74.153846,up,[],[],0
13,2024-12-05 03:55:00,97047,97048,97041,97042,4.549,75.714286,up,[],[],0
14,2024-12-05 03:56:00,97139,97154,97139,97139,1.274,78.306122,up,[],[],0
15,2024-12-05 03:57:00,97197,97202,97194,97195,14.526,77.212828,up,[],[],0
16,2024-12-05 03:58:00,97233,97290,97233,97235,4.740,78.483340,up,[],[],0
17,2024-12-05 03:59:00,97202,97219,97202,97202,4.062,75.234530,up,[],[],0
18,2024-12-05 04:00:00,97240,97261,97234,97261,8.498,74.074921,up,[],[],0
19,2024-12-05 04:01:00,97314,97315,97296,97297,22.090,72.640998,up,[],[],0
20,2024-12-05 04:02:00,97348,97350,97343,97344,10.910,71.238070,up,[],[],0
21,2024-12-05 04:11:00,97886,97966,97795,97850,656.915,110.578207,up,[],[],0
22,2024-12-05 04:12:00,97963,97964,97930,97963,9.172,110.822621,up,[],[],0
23,2024-12-05 04:13:00,98035,98099,98035,98077,43.233,112.621005,up,[],[],0
24,2024-12-05 04:14:00,98192,98228,98179,98194,46.190,115.362362,up,[],[],0
25,2024-12-05 04:15:00,98098,98164,98098,98140,20.368,113.979336,up,[],[],0
26,2024-12-05 04:16:00,98335,98335,98283,98321,15.577,119.766527,up,[],[],0
27,2024-12-05 04:17:00,98362,98405,98357,98360,15.198,117.211775,up,[],[],0
28,2024-12-05 04:18:00,98422,98458,98379,98391,15.508,115.839505,up,[],[],0
29,2024-12-05 04:19:00,98513,98544,98513,98514,4.360,118.493826,up,[],[],0
30,2024-12-05 04:20:00,98598,98636,98569,98583,13.565,118.744267,up,[],[],0
31,2024-12-05 04:21:00,98570,98642,98570,98586,14.524,115.405391,up,[],[],0
32,2024-12-05 04:22:00,98712,98739,98675,98739,9.836,118.090720,up,[],[],0
33,2024-12-05 04:23:00,98830,98830,98773,98790,12.909,116.155669,up,[],[],0